table.w3-table.w3-all.w3-hover
	tr
		th 병원이름
		th 전화번호
		th 주소
	if !seoul
		tr
			td(colspan=3) 데이터 없다
	else
		each item, index in seoul
			tr.map(data-x= item.XCODE, data-y=item.YCODE)
				td= item.NM
				td= item.TEL
				td
					- var map_url = '/naver/map/'+item.ADDR
					a(href=map_url)= item.ADDR